@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar ingredient-display">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
