@inherits LayoutComponentBase

<PageTitle>CulinaryShares</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4 font-monospace">
            @Body
        </article>
    </main>
</div>
