<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-black fw-bold" href="">Tyler's Recipes</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="browse">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Browse
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="favorites">
                <span class="oi oi-heart" aria-hidden="true"></span> Favorites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="submit">
                <span class="oi oi-plus" aria-hidden="true"></span> Submit
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
