<div class="text-xxl fw-bold text-center m-5">Browse</div>

<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3 ">
        <div class="card-body text-center">
            <h5 class="card-title">Beef Dishes</h5>
            <img src="RecipeImages/CategoryImages/beeflogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
    <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
        <div class="card-body text-center">
            <h5 class="card-title">Pork Dishes</h5>
            <img src="RecipeImages/CategoryImages/porklogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
    <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
        <div class="card-body text-center">
            <h5 class="card-title">Chicken Dishes</h5>
            <img src="RecipeImages/CategoryImages/chickenlogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
    <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
        <div class="card-body text-center">
            <h5 class="card-title">Lamb Dishes</h5>
            <img src="RecipeImages/CategoryImages/lamblogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
    <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
        <div class="card-body text-center">
            <h5 class="card-title">Wild Game Dishes</h5>
            <img src="RecipeImages/CategoryImages/wildgamelogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
</div>


@code {

}
