@page "/browse"
<h3>Browse</h3>

<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
            
            <div class="card-body">
                <h5 class="card-title">Beef Dishes</h5>
                <img src="..." class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
            <div class="card-body">
                <h5 class="card-title">Pork Dishes</h5>
                <img src="..." class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
            <div class="card-body">
                <h5 class="card-title">Chicken dishes</h5>
                <img src="..." class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
            <div class="card-body">
                <h5 class="card-title">Lamb dishes</h5>
                <img src="..." class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
            <div class="card-body">
                <h5 class="card-title">Wild Game dishes</h5>
                <img src="..." class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    

</div>


@code {

}
