<div class="text-xxl fw-bold text-center m-5">Browse</div>
<Search/>


<div class="row justify-content-center mt-5">
    <div class="card card-pop custom-primary-color shadow-lg col-lg-2 my-2 mx-1">
        <div class="card-body text-center">
            <div class="card-title text-lg fw-bold">Beef Dishes</div>
            <img src="RecipeImages/CategoryImages/beeflogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
    <div class="card card-pop custom-primary-color shadow-lg col-lg-2  my-2 mx-5">
        <div class="card-body text-center">
            <div class="card-title text-lg fw-bold">Pork Dishes</div>
            <img src="RecipeImages/CategoryImages/porklogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
    <div class="card card-pop custom-primary-color shadow-lg col-lg-2 my-2 mx-5">
        <div class="card-body text-center">
            <div class="card-title text-lg fw-bold">Chicken Dishes</div>
            <img src="RecipeImages/CategoryImages/chickenlogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
    <div class="card card-pop custom-primary-color shadow-lg col-lg-2 my-2 mx-5">
        <div class="card-body text-center">
            <div class="card-title text-lg fw-bold">Lamb Dishes</div>
            <img src="RecipeImages/CategoryImages/lamblogo.jpg" class="rounded resized-image" alt="...">
        </div>
    </div>
</div>


@code {

}
