@page "/browse"

<div class="container-fluid jumbotron-bg-img">
    <div class="row align-items-center h-100 text-center">
        <div class="col-6 mx-auto">
            <div class="card h-100 justify-content-center">
                <h1 class="fw-bold text-center m-3">
                    Browse <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                </h1>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <Search />
</div>
