@page "/browse"
<PageTitle>Browse</PageTitle>

<div class="container-fluid custom-font">
    <div class="row align-items-center h-100 text-center">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 mx-auto">
            <div class="ingredient-display header">
                <h1 class="text-center m-3 p-3">
                    Browse
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <Search />
</div>
