@page "/yourcookbook"
@inject IUsersService usersService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@attribute [Authorize]
<PageTitle>yo</PageTitle> 

<div class="container-fluid jumbotron-bg-img custom-font">
    <div class="row align-items-center h-100 text-center">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 mx-auto">
            <div class="ingredient-display header">
                <h1 class="text-center m-3 p-3">
                    <AuthorizeView>
                        <Authorized>
                            <i class="fa-solid fa-book"></i>
                            @context.User.Claims.FirstOrDefault(c => c.Type.Contains("extension_FirstName"))?.Value's Cookbook
                            <i class="fa-solid fa-book"></i>
                        </Authorized>
                        <NotAuthorized>
                            NotAuthorized
                        </NotAuthorized>
                    </AuthorizeView>    
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <RecipeCards RecipesList="@favoriteRecipesList" />
    </div>
</div>

@code {
    private List<RecipeDto>? favoriteRecipesList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            favoriteRecipesList = await usersService.GetUsersFavoritesAsync();

            
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }

        var favoriteRecipeIds = favoriteRecipesList!.Select(f => f.RecipeId).ToList();

        foreach (var recipe in favoriteRecipesList!)
        {
            recipe.IsFavorite = favoriteRecipeIds.Contains(recipe.RecipeId);
        }
    }
}
