@inject IRecipesService recipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@page "/"

<PageTitle>Tyler's Recipes</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="text-xxl fw-bold text-center m-3">Welcome to Tyler's Recipes.</div>
        <div class="text-lg fw-bold text-center m-3">Recently Added Recipes</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <RecipeCards RecipesList="@recentRecipesList" />
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="text-xxl fw-bold text-center m-5">Browse</div>
        <Search SearchCompleted="HandleSearchCompleted" />
    </div>
</div>

@if (searchedRecipesList is not null)
{
    <div class="row bg-custom-primary">
        <RecipeCards RecipesList="@searchedRecipesList" />
    </div>
}

<div class="row justify-content-center">
    <Browse />
</div>

@code {
    private List<RecipeModel>? recentRecipesList;
    private List<RecipeModel>? searchedRecipesList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recentRecipesList = await recipesService.GetRecentsAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }

    private void HandleSearchCompleted(List<RecipeModel> recipes)
    {
        searchedRecipesList = recipes;
    }
}
