@page "/"
@using Microsoft.Identity.Web
@using RecipesB2CBlazor.Services;
@inject IRecipesService recipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<PageTitle>Tyler's Recipes</PageTitle>


@if(recipesList is null)
{
    <div class="text-xxl">Loading...</div>
}
else
{
    <div class="text-xxl fw-bold text-center m-3">Hello! Welcome to Tyler's Recipes.</div>
    <div class="text-lg fw-bold text-center m-3">Recently Added Recipes</div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            @foreach (var r in recipesList)
            {
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-3">
                    <div @onclick="(() => ShowRecipe(r.Id))" 
                        class="card custom-primary-color text-center border-1 shadow-lg px-1 h-100">
                        <div class="h4 fw-bold py-2">@r.Name</div>
                        <img src="@r.ImagePath" class="resized-image mx-auto d-block rounded-3 my-4" alt="Dish Image">
                        <p class="text-dark"><em>@r.Description</em></p>
                    </div>
                </div>
            }
            @if (ShowingRecipe)
            {
                <ViewRecipe RecipeId="@selectedRecipeId" />
                <button @onclick="() => ShowingRecipe = false" class="btn btn-outline-warning col-6 my-3">Hide</button>
            }
            <Browse></Browse>
        </div>
    </div>
    
}

@code {
    private List<RecipeModel>? recipesList;
    private int selectedRecipeId;
    private bool ShowingRecipe { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipesList = await recipesService.GetRecentsAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }

    private void ShowRecipe(int recipeId)
    {
        selectedRecipeId = recipeId;
        if (!ShowingRecipe)
        {
            ShowingRecipe = true;
        }
        else if(ShowingRecipe)
        {
            ShowingRecipe = false;
        }
    }
}