@inject IRecipesService recipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@page "/"

<PageTitle>Tyler's Recipes</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="text-xxl fw-bold text-center m-3">Welcome to Tyler's Recipes.</div>
        <div class="text-lg fw-bold text-center m-3">Recently Added Recipes</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <RecipeCards RecipesList="@recentRecipesList" />
    </div>
</div>

@code {
    private List<RecipeModel>? recentRecipesList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recentRecipesList = await recipesService.GetRecentsAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}
