@page "/"
@using System.Net.Http.Json
@using System.Net.Http.Headers
@using Microsoft.Identity.Web
@using RecipesB2CBlazor.Services;
@inject IRecipesService recipesService
@inject IHttpClientFactory factory
@inject ITokenAcquisition tokenAqcuisition
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<PageTitle>Index</PageTitle>

<div class="h1 text-center">Hello! Welcome to my site. This is where I store some of my favorite recipes.</div>

<div class="h4 text-center">Recently Added Recipes</div>

@if (recipes == null)
{
    <div class="h1">Loading...</div>
}
else
{
    <div class="container-fluid bg-primary">
        <div class="row justify-content-center">
            @foreach (var r in recipes)
            {
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 m-3">
                    <div class="card bg-dark text-center border-3 border-black rounded-4 h-100">
                        <div class="h5 text-warning">@r.Name</div>
                        <img src="@r.ImagePath" class="card-img resized-image" alt="Recipe Image">
                        <div class="h5 text-warning">@r.Description</div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private List<RecipeModel>? recipes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipes = await recipesService.GetRecentsAsync();
        }
        catch (Exception ex)
        {

            ConsentHandler.HandleException(ex);
        }
    }
}