@inject IRecipesService recipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@page "/"

<PageTitle>Tyler's Recipes</PageTitle>

<div class="container-fluid jumbotron-bg-img">
    <div class="row align-items-center h-100 text-center">
        <div class="col-6 mx-auto">
            <div class="card py-1 h-100 justify-content-center">
                <h1 class="fw-bold text-sm">
                    Welcome to Tyler's Recipes
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="text-lg fw-bold text-center m-3">
    <i class="fa-regular fa-clock"></i> Recently Added Recipes <i class="fa-regular fa-clock"></i>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <RecipeCards RecipesList="@recentRecipesList" />
    </div>
</div>

@code {
    private List<RecipeDto>? recentRecipesList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recentRecipesList = await recipesService.GetRecentsAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}
