@*<h3>ViewRecipe</h3>
<div class="text-xxl fw-bold text-center m-3">@recipe.Name</div>
<div class="container-fluid">
	<div class="row">
		@recipe.Ingredients
		@recipe.Instructions
	</div>

</div>*@
@code {

}
