@using Microsoft.Identity.Web
@using RecipesB2CBlazor.Services;
@inject IRecipesService recipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

@if(recipe is null)
{
    <div class="text-xxl text-center">Loading...</div>
}
else if(recipe.Id == RecipeId)
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="text-xl text-center">@recipe.Name</div>
        </div>
        <div class="row justify-content-center py-4">
            <ul class="col-md-2">
                @foreach (var i in FormatIngredients(recipe.Ingredients!))
                {
                    <li class="text-decoration-none">@i</li>
                }
            </ul>
            <div class="col-md-6 text-center">
                @recipe.Instructions
            </div>
        </div>
    </div>
}

@code {
    private RecipeModel? recipe;
    [Parameter]
    public int RecipeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipe = await recipesService.GetAsync(RecipeId);
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }

    private string[] FormatIngredients(string ingredients)
    {
        var formattedIngredients = ingredients.Split('-');
        return formattedIngredients;
    }
}
