@inject IRecipesService recipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<div class="col" id="viewrecipe">
    @if (recipe is null)
    {
        <div class="text-xxl text-center">Loading...</div>
    }
    else if (recipe.Id == RecipeId)
    {

        <div class="text-xl text-center mt-5">@recipe.Name</div>
        <ul class="col-md-3 list-unstyled">
            @foreach (var i in FormatIngredients(recipe.Ingredients!))
            {
                <li>@i</li>
            }
        </ul>
        <div class="col-md-6 text-center">
            @recipe.Instructions
        </div>
    }
</div>


@code {
    private RecipeModel? recipe;
    [Parameter]
    public int RecipeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipe = await recipesService.GetAsync(RecipeId);
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }

    private string[] FormatIngredients(string ingredients)
    {
        var formattedIngredients = ingredients.Split('-');
        return formattedIngredients;
    }
}
